
$color-primary-red: hsl(12, 88%, 59%);
$color-primary-blue: hsl(228, 39%, 23%);



$color-gray-dark: hsl(227, 12%, 61%);
$color-gray-lignt: hsl(0, 0%, 98%);
$color-dark-blue: hsl(233, 12%, 13%);
$color-light-red: hsl(13, 100%, 96%);
